.catalog-segment {
  --mi-catalog-segment-font-size: 1rem;
  --mi-catalog-segment-list-column-count: 1;
  --mi-catalog-segment-list-column-gap: 1rem;
  --mi-catalog-segment-arrow-size: 1.25rem;
  --mi-catalog-segment-arrow-transform: none;
  --mi-catalog-segment-arrow-transition: 0.3s ease-in-out;

  @media(width >= 576px) {
    --mi-catalog-segment-list-column-count: 2;
  }

  @media(width >= 720px) {
    --mi-catalog-segment-list-column-count: 3;
  }

  @media(width >= 1024px) {
    --mi-catalog-segment-font-size: 1.25rem;
  }

  @media(width >= 1280px) {
    --mi-catalog-segment-list-column-count: 4;
  }

  &__list {
    column-count: var(--mi-catalog-segment-list-column-count);
    column-gap: var(--mi-catalog-segment-list-column-gap);
  }

  &__link {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 0;
    font-family: var(--mi-heading-font-family);
    font-feature-settings: "lnum";
    font-size: var(--mi-catalog-segment-font-size);
    gap: 0.5rem;
    letter-spacing: var(--mi-letter-spacing);
    line-height: 1.1;

    &:hover {
      --mi-catalog-segment-arrow-transform: translateX(10px);
    }
  }

  &__arrow {
    width: var(--mi-catalog-segment-arrow-size);
    height: var(--mi-catalog-segment-arrow-size);
    transform: var(--mi-catalog-segment-arrow-transform);
    transition: var(--mi-catalog-segment-arrow-transition);
  }
}