.elevator-type {
  --mi-elevator-type-data-grid-template-columns: initial;
  --mi-elevator-type-gap: 2rem;
  --mi-elevator-type-head-margin: 0 0 2.5rem;
  --mi-elevator-type-item-font-size: 1.5rem;
  --mi-elevator-type-item-color: #fff;
  --mi-elevator-type-link-hover-transform: none;
  --mi-elevator-type-link-hover-transition: none;
  --mi-elevator-type-arrow-size: 1.25rem;
  --mi-elevator-type-arrow-opacity: 1;
  --mi-elevator-type-arrow-hover-opacity: 1;
  --mi-elevator-type-arrow-transition: none;
  --mi-elevator-type-description-font-size: 1rem;
  --mi-elevator-type-padding: 3.75rem 0;
  --mi-elevator-type-image-padding: 0;

  padding: var(--mi-elevator-type-padding);

  @media(width >= 1024px) {
    --mi-elevator-type-data-grid-template-columns: repeat(2, minmax(0, 1fr));
    --mi-elevator-type-padding: 7.5rem 0;
    --mi-elevator-type-image-padding: 120%;
  }

  @media(width >= 1280px) {
    --mi-elevator-type-head-margin: 0 0 3.75rem;
    --mi-elevator-type-description-font-size: 1.5rem;
    --mi-elevator-type-item-color: var(--mi-color-gray);
    --mi-elevator-type-item-font-size: 2.25rem;
    --mi-elevator-type-link-hover-transform: translateX(20px);
    --mi-elevator-type-link-hover-transition: 0.5s;
    --mi-elevator-type-arrow-size: 2.125rem;
    --mi-elevator-type-arrow-opacity: 0;
    --mi-elevator-type-arrow-transition: 0.25s;
  }

  &__container {
    width: var(--mi-container-width-narrow);
    margin-inline: auto;
  }

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--mi-elevator-type-head-margin);
    gap: 1.25rem;
  }

  &__title {
    margin: 0;
    font-family: var(--mi-heading-font-family);
    font-size: var(--mi-heading-h2-font-size);
    text-align: center;
  }

  &__description {
    max-width: 1160px;
    color: var(--mi-color-gray);
    font-size: var(--mi-elevator-type-description-font-size);
    text-align: center;
  }

  &__data {
    display: grid;
    align-items: center;
    gap: var(--mi-elevator-type-gap);
    grid-template-columns: var(--mi-elevator-type-data-grid-template-columns);
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 6px 0;
    gap: 1.5rem;
    line-height: 1.2;
    text-decoration: none;
    transition: var(--mi-elevator-type-link-hover-transition);

    &:hover {
      --mi-elevator-type-item-color: #fff;
      --mi-elevator-type-arrow-opacity: var(--mi-elevator-type-arrow-hover-opacity);

      transform: var(--mi-elevator-type-link-hover-transform);
    }

    h3, span {
      margin: 0;
      color: var(--mi-elevator-type-item-color);
      font-family: var(--mi-heading-font-family);
      font-size: var(--mi-elevator-type-item-font-size);
      transition: color 0.25s;
    }
  }

  &__arrow {
    width: var(--mi-elevator-type-arrow-size);
    height: var(--mi-elevator-type-arrow-size);
    flex-shrink: 0;
    opacity: var(--mi-elevator-type-arrow-opacity);
    transition: var(--mi-elevator-type-arrow-transition);
  }

  &__image {
    position: relative;
    padding-bottom: var(--mi-elevator-type-image-padding);

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      object-fit: cover;
    }
  }
}