.feedback {
  --mi-feedback-container-grid-template-columns: initial;
  --mi-feedback-info-padding: 2rem 0;
  --mi-feedback-title-font-size: 1.25rem;
  --mi-feedback-subtitle-font-size: 0.875rem;

  @media(width >= 1024px) {
    --mi-feedback-container-grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    --mi-feedback-info-padding: 2.5rem;
    --mi-feedback-title-font-size: 1.75rem;
  }

  @media(width >= 1366px) {
    --mi-feedback-info-padding: 1rem 5rem;
    --mi-feedback-title-font-size: 2.25rem;
    --mi-feedback-subtitle-font-size: 1.25rem;
  }

  @media(width >= 1800px) {
    --mi-feedback-info-padding: 1.75rem 10rem;
    --mi-feedback-title-font-size: 3.25rem;
  }

  &__container {
    display: grid;
    grid-template-columns: var(--mi-feedback-container-grid-template-columns);
  }

  &__image {
    position: relative;
    
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      object-fit: cover;
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--mi-feedback-info-padding);
    gap: 1rem;
  }

  &__title {
    font-family: var(--mi-heading-font-family);
    font-size: var(--mi-feedback-title-font-size);
    line-height: 1.16;
  }

  &__subtitle {
    color: var(--mi-color-gray);
    font-size: var(--mi-feedback-subtitle-font-size);
    line-height: 1.28;
  }
}