.flat-message {
  --mi-flat-message-padding-y: 2.5rem;
  --mi-flat-message-margin-y: 2.5rem;
  --mi-flat-message-bg: rgb(255 255 255 / 5%);
  --mi-flat-message-container-width: 800px;
  --mi-flat-message-text-font-size: 1.25rem;

  padding: var(--mi-flat-message-padding-y) 0;
  margin: var(--mi-flat-message-margin-y) 0;
  background-color: var(--mi-flat-message-bg);

  @media (width >= 576px) {
    --mi-flat-message-text-font-size: 1.5rem;
  }

  @media (width >= 1366px) {
    --mi-flat-message-text-font-size: 2rem;
  }

  &__container {
    width: min(var(--mi-flat-message-container-width), 100% - var(--mi-container-padding));
    margin-inline: auto;
  }

  &__text {
    color: var(--mi-color-gray);
    font-size: var(--mi-flat-message-text-font-size);
    line-height: 1.3;
    text-align: center;
  }
}