.footer {
  --mi-footer-connect-cta-font-size: 1.5rem;
  --mi-footer-connect-padding: 2.5rem 0;
  --mi-footer-connect-flex-direction: column;
  --mi-footer-bottom-font-size: 0.875rem;
  --mi-footer-connect-info-width: initial;
  --footer-connect-grid-template-columns: initial;

  background: var(--mi-color-primary, #173957FF);

  @media(width >= 720px) {
    --mi-footer-info-flex-direction: row;
    --mi-footer-social-justify-content: flex-end;
  }
  
  @media(width >= 1024px) {
    --mi-footer-connect-padding: 4.5rem 0 2.25rem;
    --mi-footer-connect-flex-direction: row;
    --footer-connect-grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  
  @media(width >= 1280px) {
    --mi-footer-connect-cta-font-size: 3rem;
    --mi-footer-bottom-font-size: 1rem;
  }

  &__connect {
    display: grid;
    width: var(--mi-container-width);
    padding: var(--mi-footer-connect-padding);
    gap: 4rem 5rem;
    grid-template-columns: var(--footer-connect-grid-template-columns);
    margin-inline: auto;

    &-info {
      max-width: var(--mi-footer-connect-info-width);
    }

    &-cta {
      color: #fff;
      font-family: var(--mi-heading-font-family);
      font-size: var(--mi-footer-connect-cta-font-size);
      font-weight: 500;
      line-height: 1.2;
    }

    &-contact {
      margin: 1rem 0 0;
      color: #fff;
      line-height: 1.2;

      @media(width >= 1024px) {
        margin: 3rem 0 0;
      }

      span {
        opacity: 0.5;
      }

      a {
        color: #fff;
        font-family: var(--mi-heading-font-family);
        font-size: var(--mi-footer-connect-cta-font-size);
        transition: opacity 0.25s;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    width: var(--mi-container-width);
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0;
    color: rgb(0 0 0 / 50%);
    gap: 1rem 3rem;
    margin-inline: auto;
    
    @media(width >= 720px) {
      flex-direction: row;
      align-items: center;
    }

    &-info {
      display: flex;
      flex-direction: column;
      color: #fff;
      gap: 0.5rem 3rem;
      opacity: 0.5;

      @media(width >= 1280px) {
        flex-direction: row;
      }
    }

    &-copyright {
      flex-shrink: 0;
      font-size: var(--mi-footer-bottom-font-size);
    }

    &-address {
      max-width: 540px;
      font-size: var(--mi-footer-bottom-font-size);
      line-height: 1.2;
    }

    &-links {
      display: flex;
      flex-wrap: wrap;
      font-size: var(--mi-footer-bottom-font-size);
      gap: 0.25rem 2rem;

      @media (width >= 720px) {
        justify-content: flex-end;
      }

      a {
        color: #fff;
        opacity: 0.5;
        transition: opacity 0.2s;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}