.footer {
  --mi-footer-margin: 3rem 0 0;
  --mi-footer-connect-cta-font-size: 1.5rem;
  --mi-footer-connect-padding: 2.5rem 0;
  --mi-footer-connect-flex-direction: column;
  --mi-footer-bottom-font-size: 0.875rem;
  --mi-footer-grid-template-columns: initial;
  --mi-footer-left-grid-column: initial;
  --mi-footer-right-grid-column: initial;
  --mi-footer-bg-desktop-display: none;
  --mi-footer-bg-mobile-display: block;

  position: relative;
  margin: var(--mi-footer-margin);
  background: var(--mi-color-primary, #173957FF);

  @media(width >= 720px) {
    --mi-footer-info-flex-direction: row;
    --mi-footer-social-justify-content: flex-end;
  }
  
  @media(width >= 1024px) {
    --mi-footer-connect-padding: 4.5rem 0 3rem;
    --mi-footer-connect-flex-direction: row;
    --mi-footer-grid-template-columns: repeat(12, minmax(0, 1fr));
    --mi-footer-left-grid-column: span 6;
    --mi-footer-right-grid-column: span 6;
    --mi-footer-bg-desktop-display: block;
    --mi-footer-bg-mobile-display: none;
  }
  
  @media(width >= 1280px) {
    --mi-footer-connect-cta-font-size: 3rem;
    --mi-footer-bottom-font-size: 1rem;
  }

  @media(width >= 1600px) {
    --mi-footer-left-grid-column: span 7;
    --mi-footer-right-grid-column: span 5;
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;

    &--desktop {
      display: var(--mi-footer-bg-desktop-display);
    }

    &--mobile {
      display: var(--mi-footer-bg-mobile-display);
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      object-fit: cover;
    }
  }

  &__middle {
    position: relative;
    display: grid;
    width: var(--mi-container-width);
    padding: 2rem 0;
    border-top: 1px solid rgb(255 255 255 / 50%);
    gap: 2rem;
    grid-template-columns: var(--mi-footer-grid-template-columns);
    margin-inline: auto;

    &-left {
      grid-column: var(--mi-footer-left-grid-column);
    }

    &-right {
      grid-column: var(--mi-footer-right-grid-column);
    }
  }

  &__connect {
    position: relative;
    display: grid;
    width: var(--mi-container-width);
    padding: var(--mi-footer-connect-padding);
    gap: 4rem 2rem;
    grid-template-columns: var(--mi-footer-grid-template-columns);
    margin-inline: auto;

    &-info {
      grid-column: var(--mi-footer-left-grid-column);
    }

    &-form {
      grid-column: var(--mi-footer-right-grid-column);
    }

    &-cta {
      color: #fff;
      font-size: var(--mi-footer-connect-cta-font-size);
      font-weight: 600;
      line-height: 1.2;
    }

    &-contact {
      margin: 1rem 0 0;
      color: #fff;
      line-height: 1.2;

      @media(width >= 1024px) {
        margin: 5rem 0 0;
      }

      span {
        opacity: 0.5;

        @media(width >= 1280px) {
          font-size: 1.5rem;
        }
      }

      a {
        color: #fff;
        font-size: var(--mi-footer-connect-cta-font-size);
        font-weight: 600;
        transition: opacity 0.25s;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  &__copyright {
    flex-shrink: 0;
    color: rgb(255 255 255 / 50%);
    font-size: var(--mi-footer-bottom-font-size);
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    font-size: var(--mi-footer-bottom-font-size);
    gap: 0.25rem 2rem;

    @media (width >= 720px) {
      justify-content: flex-end;
    }

    a {
      color: #fff;
      opacity: 0.5;
      transition: opacity 0.2s;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__bottom {
    position: relative;
    display: flex;
    width: var(--mi-container-width);
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0;
    color: rgb(0 0 0 / 50%);
    gap: 1rem 3rem;
    margin-inline: auto;
    
    @media(width >= 720px) {
      flex-direction: row;
      align-items: center;
    }
  }

  .footer-details {
    margin-top: 1rem;
  }
}