.full-menu {
  --mi-full-menu-z-index: 400;
  --mi-full-menu-bg: var(--mi-background);
  --mi-full-menu-transform: none;
  --mi-full-menu-transition: none;
  --mi-full-menu-bg-opacity: 0;
  --mi-full-menu-panel-padding-top: 5rem;
  --mi-full-menu-container-margin-top: 2.5rem;
  --mi-full-menu-container-margin-bottom: 2.5rem;
  --mi-full-menu-mobile-display: block;
  --mi-full-menu-desktop-display: none;
  --mi-full-menu-desktop-left-margin: 8rem;

  position: fixed;
  z-index: var(--mi-full-menu-z-index);
  display: none;
  overflow: hidden auto;
  width: 100%;
  height: 100%;
  inset: 0;
  outline: 0;

  @media (width >= 1080px) {
    --mi-full-menu-mobile-display: none;
    --mi-full-menu-desktop-display: block;
    --mi-full-menu-panel-padding-top: 5.5rem;
    --mi-full-menu-desktop-left-margin: 10.2rem;
  }

  @media (width >= 1280px) {
    --mi-full-menu-desktop-left-margin: 15.3rem;
  }

  @media (width >= 1320px) {
    --mi-full-menu-panel-padding-top: 6.5rem;
  }

  &--fall {
    --mi-full-menu-transform: translateY(-100%);
    --mi-full-menu-transition: transform 0.3s cubic-bezier(0.61, 0.01, 0.28, 1);
  }

  &--show {
    --mi-full-menu-bg-opacity: 1;
    --mi-full-menu-transform: none;
  }
  
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(0 0 0 / 40%);
    inset: 0;
    opacity: var(--mi-full-menu-bg-opacity);
    transition: opacity 0.25s;
  }

  &__panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding-top: var(--mi-full-menu-panel-padding-top);
    background: var(--mi-full-menu-bg);
    transform: var(--mi-full-menu-transform);
    transition: var(--mi-full-menu-transition);
  }

  &__wrapper {
    border-top: 1px solid #fff;
    pointer-events: auto;
  }

  &__container {
    width: var(--mi-container-width);
    max-height: calc(100vh - var(--mi-full-menu-panel-padding-top));
    margin-inline: auto;
    overflow-y: auto;
  }

  &__mobile {
    display: var(--mi-full-menu-mobile-display);
    margin: 2.5rem 0;
  }

  &__desktop {
    display: var(--mi-full-menu-desktop-display);
    margin: 1rem 0 3rem var(--mi-full-menu-desktop-left-margin);
  }
}