.hamburger {
  --mi-hamburger-desktop-display: none;
  --mi-hamburger-mobile-display: block;

  position: relative;
  z-index: 25;
  width: 40px;
  height: 30px;
  flex-shrink: 0;
  cursor: pointer;

  @media(width >= 1024px) {
    --mi-hamburger-desktop-display: block;
    --mi-hamburger-mobile-display: none;
  }

  &::before, &::after {
    position: absolute;
    left: 0;
    display: block;
    width: 40px;
    height: 1px;
    border-radius: 1.5px;
    background-color: var(--mi-color-primary);
    content: "";
    pointer-events: none;
    transition: all 0.2s;
  }

  &--desktop {
    display: var(--mi-hamburger-desktop-display);
  }

  &--mobile {
    display: var(--mi-hamburger-mobile-display);
  }

  &::before {
    top: 9px;
  }

  &::after {
    bottom: 9px;
  }
}

.full-menu-opened {
  .hamburger {
    &::before, &::after {
      background: var(--mi-color-orange);
    }

    &::before {
      top: 14px;
      transform: rotate(25deg);
    }

    &::after {
      bottom: 14px;
      transform: rotate(-25deg);
    }
  }
}