.model-scheme {
  position: relative;
  
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      object-fit: cover;
    }
  }

  &__button {
    position: absolute;

    &--1 {
      top: 56%;
      left: 37%;
    }

    &--2 {
      top: 26%;
      left: 57%;
    }

    &--3 {
      top: 31%;
      left: 21%;
    }

    &--4 {
      top: 78%;
      left: 39%;
    }

    &--5 {
      top: 51%;
      left: 57%;
    }

    @media(width >= 1024px) {
      &--4 {
        top: 74%;
        left: 39%;
      }
    }

    @media(width >= 1280px) {
      &--4 {
        top: 78%;
        left: 39%;
      }
    }

    @media(width >= 1600px) {
      &--4 {
        top: 81%;
        left: 39%;
      }
    }
  }
}