.nav {
  --mi-nav-link-font-size: 1rem;
  --mi-nav-gap: 1.25rem;

  @media(width >= 1280px) {
    --mi-nav-link-font-size: 1.125rem;
    --mi-nav-gap: 2rem;
  }

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 0 var(--mi-nav-gap);
    list-style: none;
  }

  &__item {
    display: block;
  }

  &__btn {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__link {
    position: relative;
    display: inline-block;
    padding: 0.1rem 0;
    color: var(--mi-color-black);
    font-size: var(--mi-nav-link-font-size);
    font-weight: 400;
    text-decoration: none;
    
    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 1px;
      background-color: currentcolor;
      content: "";
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
    }
    
    &:visited {
      color: var(--mi-foreground);
    }

    &:hover {
      color: var(--mi-foreground);

      &::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
}