.news {
  --mi-news-margin: 0;
  --mi-advantage-container-padding: 0;
  --mi-news-heading-margin: 0 0 2rem;
  --mi-news-title-font-size: 1.5rem;
  --mi-news-list-gap: 2.5rem;
  --mi-news-list-grid-template-columns: initial;
  --mi-news-nav-size: 56px;
  --mi-news-slider-overflow: visible;
  --mi-news-slide-width: 330px;

  margin: var(--mi-news-margin);

  @media(width >= 1024px) {
    --mi-advantage-container-padding: 0 2.5rem;
    --mi-news-list-grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media(width >= 1280px) {
    --mi-news-margin: 0;
    --mi-news-heading-margin: 0 0 1rem;
    --mi-news-title-font-size: 3rem;
    --mi-news-list-grid-template-columns: repeat(3, minmax(0, 1fr));
    --mi-news-slider-overflow: hidden;
    --mi-news-slide-width: auto;
  }

  @media(width >= 1600px) {
    --mi-news-list-grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  &--index {
    --mi-news-margin: 4.5rem 0;

    @media(width >= 1280px) {
      --mi-news-margin: 7.5rem 0;
    }
  }

  &--slider {
    overflow: hidden;
  }

  &__container {
    width: var(--mi-container-width);
    padding: var(--mi-advantage-container-padding);
    margin-inline: auto;
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: var(--mi-news-heading-margin);
    gap: 2rem;
  }

  &__title {
    font-family: var(--mi-heading-font-family);
    font-size: var(--mi-news-title-font-size);
    font-weight: 600;
    line-height: 1.2;
  }

  &__list {
    display: grid;
    gap: var(--mi-news-list-gap);
    grid-template-columns: var(--mi-news-list-grid-template-columns);
  }

  &__bottom {
    margin-top: 3.5rem;
  }

  &__more {
    text-align: center;

    .btn {
      width: 100%;
    }
  }

  &__controls {
    display: flex;
  }

  &__nav {
    display: flex;
    width: var(--mi-news-nav-size);
    height: var(--mi-news-nav-size);
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__slider {
    overflow: var(--mi-news-slider-overflow);
    aspect-ratio: 60 / 20;
    opacity: 0;
    transition: opacity 0.25s ease;

    &.swiper-initialized {
      aspect-ratio: auto;
      opacity: 1;
    }
  }

  .swiper-slide {
    width: var(--mi-news-slide-width);
    height: auto;
  }

  .load-more {
    margin-top: calc(var(--mi-news-list-gap) * 2);

    .btn {
      width: 100%;
    }
  }
}

.news-card {
  --mi-news-card-gap: 1.25rem;
  --mi-news-card-date-font-size: 0.875rem;
  --mi-news-card-title-font-size: 1.25rem;
  --mi-news-card-description-font-size: 1rem;
  --mi-news-card-link-font-size: 1rem;

  display: flex;
  flex-direction: column;
  gap: var(--mi-news-card-gap);

  @media (width >= 992px) {
    --mi-news-card-description-font-size: 1.25rem;
  }

  @media (width >= 1280px) {
    --mi-news-card-date-font-size: 1rem;
  }

  &__media {
    flex-shrink: 0;
  }

  &__image {
    position: relative;
    overflow: hidden;
    padding-top: 60%;
    border-radius: 1rem;
    background-color: var(--mi-card-bg);
    
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      object-fit: cover;
      transition: transform 1s;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  &__info {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__main {
    flex: 1 1 auto;
  }

  &__date {
    color: var(--mi-color-primary-light);
    font-size: var(--mi-news-card-date-font-size);
    font-weight: 300;
  }

  &__title {
    font-family: var(--mi-heading-font-family);
    font-feature-settings: 'lnum';
    font-size: var(--mi-news-card-title-font-size);
    font-weight: 600;
    line-height: 1.16;
  }

  &__description {
    font-size: var(--mi-news-card-description-font-size);
    line-height: 1.16;
  }

  &__bottom {
    flex-shrink: 0;
  }

  &__link {
    position: relative;
    display: inline-block;
    color: var(--mi-corporate-orange);
    font-family: var(--mi-heading-font-family);
    font-size: var(--mi-news-card-link-font-size);
    
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: var(--mi-corporate-orange);
      content: '';
    }

    &:hover {
      color: var(--mi-corporate-orange);
    }
  }

  &__clickable {
    position: absolute;
    z-index: 7;
    display: block;
    cursor: pointer;
    inset: 0;
    outline: none;
    pointer-events: auto;
    text-decoration: none;
  }
}