.news-detail {
  --mi-news-detail-padding: 0 0 5rem;
  --mi-news-detail-container-width: var(--mi-container-width-narrow);
  --mi-news-detail-date-font-size: 0.875rem;
  --mi-news-detail-section-margin: 0 0 5rem;

  padding: var(--mi-news-detail-padding);

  @media (width >= 720px) {
    --mi-news-detail-date-font-size: 1.25rem;
  }

  @media (width >= 1280px) {
    --mi-news-detail-section-margin: 0 0 7.5rem;
  }

  &__section {
    &:not(:last-child) {
      margin: var(--mi-news-detail-section-margin);
    }
  }

  &__picture {
    margin: 0 0 2rem;

    img {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 100%;
    }
  }

  &__date {
    margin: 0 0 2.5rem;
    color: var(--mi-color-gray);
    font-size: var(--mi-news-detail-date-font-size);
  }

  &__gallery {
    margin: 0 0 2.5rem;
  }

  &__content {
    margin: 0 0 5rem;
  }

  &__text {
    margin: 0 0 1.5rem;
  }

  &__container {
    width: var(--mi-news-detail-container-width);
    margin-inline: auto;
  }

  .gallery {
    margin: 2rem 0;
  }

  .layout--narrow & {
    --mi-news-detail-container-width: var(--mi-container-width-narrow);
  }

  iframe {
    width: auto;
    height: auto;
    aspect-ratio: 16 / 9;
  }

  h2, h3, h4 {
    scroll-margin-bottom: 60px;
    scroll-margin-top: 30px;
  }
}