.partnership {
  --mi-partnership-margin: 4.5rem 0;
  --mi-partnership-scroll-margin-top: 7rem;
  --mi-partnership-container-padding: 0;
  --mi-partnership-content-padding: 2rem;
  --mi-partnership-title-font-size: 1.25rem;
  --mi-partnership-description-font-size: 1rem;
  --mi-partnership-info-width: initial;

  margin: var(--mi-partnership-margin);
  scroll-margin-top: var(--mi-partnership-scroll-margin-top);

  @media(width >= 1280px) {
    --mi-partnership-margin: 7.5rem 0;
    --mi-partnership-scroll-margin-top: 8rem;
    --mi-partnership-content-padding: 4.5rem;
    --mi-partnership-title-font-size: 3rem;
    --mi-partnership-description-font-size: 1.5rem;
    --mi-partnership-info-width: 90%;
  }

  @media(width >= 1600px) {
    --mi-partnership-info-width: 80%;
  }

  &__container {
    width: var(--mi-container-width);
    padding: var(--mi-partnership-container-padding);
    margin-inline: auto;
  }


  &__content {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    padding: var(--mi-partnership-content-padding);
    border-radius: 1.25rem;
    background: var(--mi-color-black, black);
    gap: 48px;
  }

  &__decor {
    position: absolute;
    top: 50%;
    right: -740px;
    transform: translateY(-50%);

    @media(width >= 860px) {
      right: -610px;
    }
  }

  &__info {
    position: relative;
    max-width: var(--mi-partnership-info-width);
    color: var(--mi-color-white, white);
  }

  &__title {
    margin: 0 0 1.25rem;
    font-family: var(--mi-heading-font-family);
    font-size: var(--mi-partnership-title-font-size);
    font-weight: 600;
    line-height: 1.2;
  }

  &__description {
    font-size: var(--mi-partnership-description-font-size);
    line-height: 1.2;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }

    strong {
      color: #fff;
      font-weight: 200;
    }
  }

  &__controls {
    position: relative;
  }

  &__list {
    position: relative;
    display: flex;
    width: max-content;
    flex-wrap: nowrap;
    align-items: center;
    animation: scroll 10s linear infinite;
    gap: 4rem;
  }

  &__slider {
    overflow: visible;

    .swiper-wrapper {
      align-items: center;
      transition-timing-function: linear;
    }

    .swiper-slide {
      display: flex;
      width: 400px;
      height: auto;
      align-items: center;
      justify-content: center;
    }
  }
}

@keyframes scroll {
  100% {
    transform: translate(calc(-50% - 30px));
  }
}