.partnership {
  --mi-partnership-title-font-size: 1.5rem;
  --mi-partnership-description-font-size: 0.875rem;

  @media(width >= 1280px) {
    --mi-partnership-title-font-size: 3.25rem;
    --mi-partnership-description-font-size: 1.25rem;
  }

  &__title {
    margin: 0 0 1.25rem;
    font-family: var(--mi-heading-font-family);
    font-size: var(--mi-partnership-title-font-size);
    line-height: 1.2;
  }

  &__description {
    color: var(--mi-color-gray);
    font-size: var(--mi-partnership-description-font-size);

    strong {
      color: #fff;
      font-weight: 200;
    }
  }
}