.showroom-video {
  --mi-video-grid-template-columns: initial;
  --mi-video-title-font-size: 1.25rem;

  @media(width >= 768px) {
    --mi-video-grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media(width >= 1366px) {
    --mi-video-title-font-size: 2.25rem;
  }

  @media(width >= 1800px) {
    --mi-video-title-font-size: 3.25rem;
  }

  &__title {
    margin: 0 0 1.25rem;
    font-family: var(--mi-heading-font-family);
    font-size: var(--mi-video-title-font-size);
  }

  &__list {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: var(--mi-video-grid-template-columns);
  }

  &__item {
    &--16by9 {
      .video {
        aspect-ratio: 16 / 9;
      }
    }
  }
}