.social {
  --mi-social-item-padding-x: 1rem;
  --mi-social-item-padding-y: 0.5rem;
  --mi-social-item-height: 2.25rem;
  --mi-social-item-border-radius: calc(var(--mi-social-item-height) / 2);
  
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  
  &__item {
    display: inline-flex;
    height: var(--mi-social-item-height);
    align-items: center;
    justify-content: center;
    padding: var(--mi-social-item-padding-y) var(--mi-social-item-padding-x);
    border-radius: var(--mi-social-item-border-radius);
    backdrop-filter: blur(5px);
    background-color: rgb(255 255 255 / 10%);
    color: #fff;
    font-family: var(--mi-heading-font-family);
    font-size: 0.6875rem;
    gap: 0.5rem;
    line-height: 1;
    text-transform: uppercase;
    transition: color .15s ease-in-out, background-color .25s ease-in-out;
    
    &:hover {
      background-color: rgb(255 255 255 / 20%);
      color: #fff;
    }
  }

  &__icon {
    flex-shrink: 0;
  }
}