.stat {
  --mi-stat-grid-template-colums: repeat(2, 1fr);
  --mi-stat-list-gap: 2rem 2.5rem;
  --mi-stat-text-color: rgb(255 255 255 / 40%);
  --mi-stat-label-font-size: 1rem;
  --mi-stat-value-font-size: 4.5rem;
  --mi-stat-value-term-font-size: 2rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  @media(width >= 720px) {
    --mi-stat-grid-template-colums: none;
  }

  @media(width >= 1024px) {
    --mi-stat-grid-template-colums: repeat(2, 1fr);
  }

  @media(width >= 1280px) {
    --mi-stat-label-font-size: 1.5rem;
    --mi-stat-value-font-size: 5rem;
    --mi-stat-value-term-font-size: 3rem;
    --mi-stat-list-gap: 2rem 5rem;
  }

  @media(width >= 1600px) {
    --mi-stat-value-font-size: 6.25rem;
    --mi-stat-value-term-font-size: 3rem;
    --mi-stat-list-gap: 2rem 6rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--mi-stat-list-gap);
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
  }

  &__label {
    color: var(--mi-color-gray, #777);
    font-size: var(--mi-stat-label-font-size);
    font-weight: 400;
    line-height: 1;
  }

  &__info {
    color: var(--mi-color-primary-light, #333);
    font-size: var(--mi-stat-value-font-size);
    font-weight: 500;
    line-height: 1;
  }

  &__value, &__term {
    display: inline-flex;
  }

  &__term {
    margin-left: 0.5rem;
    font-size: var(--mi-stat-value-term-font-size);
  }
}