.swiper {
  --swiper-pagination-bullet-inactive-color: #aaa;
  --swiper-pagination-bullet-inactive-opacity: 0.4;
  --swiper-pagination-bullet-width: 0.625rem;
  --swiper-pagination-bullet-height: 0.625rem;
  --swiper-pagination-bullet-horizontal-gap: 0.35rem;
  --swiper-navigation-color: #fff;
  --swiper-pagination-bottom: 10px;
  --swiper-navigation-size: 2rem;

  @media(width >= 1024px) {
    --swiper-pagination-bullet-horizontal-gap: 0.5rem;
    --swiper-pagination-bullet-width: 0.75rem;
    --swiper-pagination-bullet-height: 0.75rem;
  }
}

.swiper-pagination-bullet {
  &-active {
    --swiper-pagination-color: #fff;
  }
}