.tick {
  --mi-tick-padding-y: 3.75rem;
  --mi-tick-bg: rgb(0 0 0 / 40%);
  --mi-tick-num-size: 2.5rem;
  --mi-tick-name-font-size: 1.5rem;
  --mi-tick-list-gap: 2.5rem;
  --mi-tick-list-grid-template-columns: initial;
  --mi-tick-info-padding-top: 0.25rem;

  padding: var(--mi-tick-padding-y) 0;
  background: var(--mi-tick-bg);

  @media(width >= 1024px) {
    --mi-tick-list-grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media(width >= 1280px) {
    --mi-tick-padding-y: 5rem;
    --mi-tick-num-size: 3.5rem;
    --mi-tick-name-font-size: 1.75rem;
    --mi-tick-info-padding-top: 0.5rem;
  }

  &__container {
    width: var(--mi-container-width-narrow);
    margin-inline: auto;
  }

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 2.5rem;
    gap: 1.25rem;
  }

  &__title {
    margin: 0;
    font-size: var(--mi-heading-h2-font-size);
    text-align: center;
  }

  &__description {
    max-width: 1160px;
    color: var(--mi-color-gray);
    font-size: var(--mi-plane-text-font-size);
    text-align: center;
  }

  &__list {
    display: grid;
    gap: var(--mi-tick-list-gap);
    grid-template-columns: var(--mi-tick-list-grid-template-columns);
  }

  &__item {
    display: flex;
    gap: 1.25rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding-top: var(--mi-tick-info-padding-top);
    gap: 1.25rem;
  }

  &__icon {
    display: flex;
    width: var(--mi-tick-num-size);
    height: var(--mi-tick-num-size);
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--mi-corporate-orange);
    border-radius: 50%;
    color: transparent;
  }

  &__name {
    margin: 0;
    font-family: var(--mi-heading-font-family);
    font-feature-settings: "lnum";
    font-size: var(--mi-tick-name-font-size);
    line-height: 1.2;
  }

  &__text {
    color: var(--mi-color-gray);
    font-size: var(--mi-plane-text-font-size);
    line-height: 1.4;
  }
}