include ../../mixins/edge

+edge({
  title: 'Преимущества компании',
  modifier: 'edge--narrow',
  cta_text: 'Эстетика движения и удобство каждый день. Лифт становится частью дома, дополняя пространство.',
  list: [
    {
      name: 'Крупнейший шоурум домашних лифтов премиум-класса в России',
      text: 'Полноценные работающие лифты: ощутите ход, сравните модели и подберите отделку под ваш интерьер'
    },
    {
      name: 'Прямые представители завода в России',
      text: 'Прямые поставки, оригинальные запчасти, оперативный сервис'
    },
    {
      name: 'Свои монтажные бригады',
      text: 'Обученные специалисты, гарантия качества и соблюдения сроков'
    },
    {
      name: 'Собственный штат проектировщиков и инженеров',
      text: 'Каждый проект создаётся внутри компании'
    },
    {
      name: 'Сервисная и аварийная служба 24/7',
      text: 'Минимальные простои оборудования, всегда на связи'
    },
    {
      name: 'Собственный склад',
      text: 'Всегда в наличии оригинальные комплектующие'
    },
  ]
})