.about-model
  .about-model__container
    .about-model__label O серии
    .about-model__body
      .about-model__text
        p Создан для тех, кто ценит гармонию дизайна и удобство повседневной жизни. Элегантный внешний вид делают его не просто средством передвижения, а элементом интерьера, который восхищает.
    .about-model__footer
      button(type="button" class="btn btn--primary" data-toggle="modal" data-target="#discussModal") Записаться на тест-драйв в шоурум
