.model-design
  .model-design__container
    .model-design__scheme
      .model-scheme
        .model-scheme__image
          picture
            source(srcset="" data-srcset="images/models/e_plus/e_plus_design_scheme_w1024.webp" type="image/webp")
            img(src="" data-src="images/models/e_plus/e_plus_design_scheme_w1024.jpg")
        .btn-plus.animation-pulse.model-scheme__button.model-scheme__button--1(data-slide-to="0")
        .btn-plus.animation-pulse.model-scheme__button.model-scheme__button--2(data-slide-to="1")
        .btn-plus.animation-pulse.model-scheme__button.model-scheme__button--3(data-slide-to="2")
        .btn-plus.animation-pulse.model-scheme__button.model-scheme__button--4(data-slide-to="3")
        .btn-plus.animation-pulse.model-scheme__button.model-scheme__button--5(data-slide-to="4")
    .model-design__slider
      .model-design__label Дизайн
      .model-slider.swiper
        .swiper-wrapper
          .swiper-slide(data-swiper-autoplay="1000")
            .model-slide
              .model-slide__name Задняя панель
              .model-slide__description Лифт становится арт-объектом: эксклюзивные панели и интеллектуальный свет формируют атмосферу private lounge, где дизайн встречается с тишиной движения.
              .model-slide__image
                picture
                  source(srcset="" data-srcset="images/models/e_plus/e_plus_design_slide_01.webp" type="image/webp")
                  img(src="" data-src="images/models/e_plus/e_plus_design_slide_01.png")
              .model-slide__cta: button(type="button" class="btn btn--primary" data-toggle="modal" data-target="#contactModal") Записаться на визит
          .swiper-slide
            .model-slide
              .model-slide__name Потолок
              .model-slide__description Никаких деталей случайно: потолок и освещение лифта повторяют ритм интерьера дома.
              .model-slide__image
                picture
                  source(srcset="" data-srcset="images/models/e_plus/e_plus_design_slide_02.webp" type="image/webp")
                  img(src="" data-src="images/models/e_plus/e_plus_design_slide_02.png")
              .model-slide__cta: button(type="button" class="btn btn--primary" data-toggle="modal" data-target="#contactModal") Записаться на визит
          .swiper-slide
            .model-slide
              .model-slide__name Шахта
              .model-slide__description Становится частью архитектуры дома. Её цвет — не просто отделка, а штрих, который подчеркивает характер пространства: благородный тон из премиальной палитры — от чистого белого до глубокого чёрного и шампанского.
              .model-slide__image
                picture
                  source(srcset="" data-srcset="images/models/e_plus/e_plus_design_slide_03.webp" type="image/webp")
                  img(src="" data-src="images/models/e_plus/e_plus_design_slide_03.png")
              .model-slide__cta: button(type="button" class="btn btn--primary" data-toggle="modal" data-target="#contactModal") Записаться на визит
          .swiper-slide
            .model-slide
              .model-slide__name Напольное покрытие
              .model-slide__description Пол не просто поверхность, а основа композиции: его оттенки и фактуры гармонируют со светом кабины и придают пространству особый шарм.
              .model-slide__image
                picture
                  source(srcset="" data-srcset="images/models/e_plus/e_plus_design_slide_04.webp" type="image/webp")
                  img(src="" data-src="images/models/e_plus/e_plus_design_slide_04.png")
              .model-slide__cta: button(type="button" class="btn btn--primary" data-toggle="modal" data-target="#contactModal") Записаться на визит
          .swiper-slide
            .model-slide
              .model-slide__name Панель управления
              .model-slide__description Тонкий баланс дизайна и технологий: цифровой экран и премиальные материалы превращают каждое касание в ощущение прикосновения к совершенству.
              .model-slide__image
                picture
                  source(srcset="" data-srcset="images/models/e_plus/e_plus_design_slide_05.webp" type="image/webp")
                  img(src="" data-src="images/models/e_plus/e_plus_design_slide_05.png")
              .model-slide__cta: button(type="button" class="btn btn--primary" data-toggle="modal" data-target="#contactModal") Записаться на визит
        .swiper-pagination