include ../../mixins/edge

+edge({
  title: 'Безопасность',
  description: 'Мы используем сертифицированные системы.',
  modifier: 'edge--narrow edge--head-centered',
  list: [
    {
      name: 'Блок безопасности',
      text: 'Соответствует международным стандартам. Полная гарантия надёжности и качества.'
    },
    {
      name: 'Системы заботятся о вас',
      text: 'Более 30 датчиков безопасности контролируют работу лифта, а при отключении электричества связь не прерывается — кабина автоматически остановится на ближайшем этаже и откроет двери.'
    }
  ]
})