.attitude
  .attitude__container
    .attitude__content
      div: span Лаконичные линии, приглушённый свет, гармония движения
      div: span — вы не слышите его,
      div: span вы ощущаете атмосферу