include ../../mixins/form

footer.footer.layout__footer
  .footer__connect
    .footer__connect-info
      .footer__connect-cta Стать партнером, задать вопрос, узнать о вакансиях
      .footer__connect-contact
        span Обратитесь к нам на почту
        br
        a(href="mailto:e1group-info@mail.com") e1group-info@mail.com
    .footer__connect-form
      +form({
        modifiers: ["form--static"],
        common_errors: ["Похоже вы робот!"],
        theme: 'light',
        fields: [
          {
            type: 'text',
            name: 'name',
            label: 'Выше имя',
            placeholder: 'Имя / Огранизация',
            required: false
          },
          {
            type: 'tel',
            name: 'phone',
            label: 'Телефон',
            placeholder: 'Телефон',
            required: true
          },
          {
            type: 'text',
            name: 'email',
            label: 'E-mail',
            placeholder: 'E-mail',
            required: false,
            error: 'Обязательное поле'
          }
        ]
      })

  .footer__bottom
    .footer__bottom-info
      .footer__bottom-copyright Copyright © АО «Е1 ГРУПП»
      .footer__bottom-address Адрес: 115035, город Москва, 3-Й Кадашевский пер, д. 7-9 стр. 1, помещ. 8/1
    .footer__bottom-links
      a(href="privacy.html") Политика конфиденциальности
      a(href="approve.html") Согласие на обработку персональных данных