header.layout__header.header(class=`${headerClass}`)
  .header__container
    .header__navbar
      a.logo.header__logo(href="/" aria-label="Переход на главную страницу")
        img(src="images/logo_writing_black.svg")
      nav.nav.header__nav
        ul.nav__list
          li.nav__item: a(href="#products" data-smooth-scroll="true").nav__link Продукция и услуги
          li.nav__item: a(href="#partnership" data-smooth-scroll="true").nav__link Партнеры
          li.nav__item: a(href="#advantage" data-smooth-scroll="true").nav__link О компании
          li.nav__item: a(href="#career" data-smooth-scroll="true").nav__link Карьера
          li.nav__item: a(href="#news" data-smooth-scroll="true").nav__link Медиа
          li.nav__item: a(href="#contacts").nav__link Контакты
    .header__controls
      // .header__phone: a(href="tel:+7 (499) 344-40-12") +7 (499) 344-40-12
      button(type="button" class="btn btn--primary header__button" data-toggle="modal" data-target="#contactModal") Свяжитесь с нами
    .burger.header__burger(data-toggle="menu" data-target="mobile-menu"): span
