include ../mixins/mobile-nav

.full-menu.full-menu--fall
  .full-menu__bg
  .full-menu__panel
    .full-menu__wrapper
      .full-menu__container
        .full-menu__mobile
          .mobile-menu
            .mobile-menu__body
              +mobile-nav({
                list: [
                  {
                    name: 'О компании',
                    href: '#advantage',
                    sublist: [
                      {name: 'Подпункт 1', href: '#sub1'},
                      {name: 'Подпункт 2', href: '#sub2'},
                    ]
                  },
                  {name: 'Партнеры', href: '#partnership'},
                  {name: 'Медиа', href: '#news'},
                  {name: 'Контакты', href: '#contacts'},
                ]
              })
            .mobile-menu__bottom
              // .mobile-menu__phone
                a(href="tel:+7 (499) 111-22-33"): span +7 (499) 111-22-33
              button(class="btn btn--primary full-menu__button" data-toggle='modal' data-target="#contactModal") Свяжитесь с нами
        .full-menu__desktop Тут десктопное меню
