include ../mixins/alike-product

+alike-product({
  modifier: 'alike-product--dark',
  title: 'Модели',
  list: [
    {
      name: 'FZ-102',
      image: 'images/catalog/model-fz-102.jpg',
      props: [
        '<strong>Потолок:</strong> шпон из белого дерева, линейный свет, точечные светильники',
        '<strong>Задняя стенка:</strong> жесткий рулон с неровной текстурой кожи, линейный светильник, декоративная планка из алюминиевого профиля',
        '<strong>Боковые стенки:</strong> зеркальная нержавеющая сталь, черная титановая зеркальная нержавеющая сталь',
        '<strong>Пол:</strong> пвх (опционально кварц или мрамор)'
      ]
    },
    {
      name: 'FZ-103',
      image: 'images/catalog/model-fz-103.jpg',
      props: [
        '<strong>Потолок:</strong> шпон из белого дерева, точечные светильники',
        '<strong>Задняя стенка:</strong> зеркальная нержавеющая сталь',
        '<strong>Боковые стенки:</strong> жесткий рулон из натуральной кожи, линейные светильники, зеркальная нержавеющая сталь',
        '<strong>Пол:</strong> пвх (опционально кварц или мрамор)'
      ]
    },
    {
      name: 'FZ-104',
      image: 'images/catalog/model-fz-104.jpg',
      props: [
        '<strong>Потолок:</strong> шпон из белого дерева, точечные светильники',
        '<strong>Задняя стенка:</strong> зеркальная нержавеющая сталь',
        '<strong>Боковые стенки:</strong> жесткий рулон из натуральной кожи, линейные светильники, зеркальная нержавеющая сталь',
      ]
    },
    {
      name: 'FZ-105',
      image: 'images/catalog/model-fz-105.jpg',
      props: [
        '<strong>Задняя стенка:</strong> зеркальная нержавеющая сталь',
        '<strong>Боковые стенки:</strong> жесткий рулон из натуральной кожи, линейные светильники, зеркальная нержавеющая сталь',
        '<strong>Пол:</strong> пвх (опционально кварц или мрамор)'
      ]
    },
    {
      name: 'FZ-106',
      image: 'images/catalog/model-fz-106.jpg'
    }
  ]
})