include ../mixins/alike-news

+alike-news({
  title: 'Читайте также',
  modifier: 'alike-news--dark',
  button: {
    name: 'Все записи блога',
    link: 'blog.html'
  },
  list: [
    {
      title: 'FRANZ LIFT: новый горизонт творческого дизайна домашних лифтов',
      description: 'FRANZ LIFT получил ежегодную премию за «Продукт творческого дизайна домашних лифтов», подтвердив тем самым выдающуюся силу бренда.',
      image: "images/news/news-id6-preview.jpg",
      date: '29.03.2024',
      link: 'news-detail-6.html'
    },
    {
      title: 'Наша команда на WorldElevator & Escalator EXPO-2023',
      description: 'Прошла одна из самых масштабных международных выставок лифтового хозяйства WorldElevator & Escalator EXPO-2023 в Шанхае',
      image: 'images/news/news-preview-1.jpg',
      date: '18.08.2023'
    },
    {
      title: 'Лифт для «Zavidovo SPA VILLAGE»',
      description: 'Готовой шахты не было, а было общее помещение с лестницей. Задача стояла поставить проходной лифт, гости заходили на первом этаже с одной стороны, а выходили на втором этаже с другой.',
      image: 'images/news/news-preview-3.jpg',
      date: '18.08.2023'
    }
  ]
})