include ../mixins/review

+review({
  modifier: 'review--dark',
  title: 'Отзывы наших клиентов',
  list: [
    {
      text: '<p>Я всегда тщательно подхожу к выбору покупок, и лифт не стал исключением. Столкнулся с тем, что информации по этой теме не так уж и много, и разобраться в тонкостях оказалось не так просто.</p><p>Случайно наткнулся на YouTube-канал компании, где все подробно и доступно объясняют все тонкости, а также показывают свой продукт. Решил с ними связаться – уже на следующий день приехали, все рассказали, варианты реализации и сделали замеры. Был приятно удивлен таким сервисным обслуживанием.</p><p>Спустя два месяца лифт был установлен. Родители поначалу были против, но теперь очень довольны и ни разу не пожалели, что я их убедил.</p><p>В итоге: отличный сервис, отличное качество – однозначно рекомендую!</p>',
      author: 'Антон Петьков'
    },
    {
      text: '<p>Занимаюсь строительством загородных домов. Необходимо было установить на объекте лифт в три этажа. Вместе с заказчиком было принято решение обратиться в компанию Franz Lift, и мы не ошиблись! Работать с ребятами было комфортно, всё четко и по делу. Всегда на связи, консультировали по любому вопросу.</p><p>Примерно через 3 месяца лифт уже поехал, плавный старт и остановка, бесшумный и выглядит роскошно! Однозначно рекомендую.</p>',
      author: 'Дмитрий Л.'
    },
    {
      text: '<p>Заказывали проект и потом лифт. Помогли решить ряд вопросов по строительной части. Дизайн менеджер помог подобрать прям под наш дом, со всеми особенностями. Лифт хорошо вписался и не выглядит громоздко, за что я переживала.</p>',
      author: 'Uguana Uguana'
    },
    {
      text: '<p>Все ок. Реставрация исторического здания под офис, обратились в францлифт за лифтом. Все прошло отлично, монтаж профессиональный. Спасибо, будем обращаться по другим объектам.</p>',
      author: 'Dmitri Lobach'
    },
    {
      text: '<p>Написала отзыв на Авито, по просьбе пишу сюда. Искали с мужем в дом лифт со стеклянными стенками, чтобы пока поднимаешься, был виден вид из окон. Остановились на FRANZLIFT.</p><p>Александр по телефону рассказал обо всех нюансах, приехал на проект и дал полноценную консультацию. Выбрали варианты отделки и всех деталей. Был очень приятен персональный подход и то, что Александр всегда был на связи (на ВСЕХ этапах).</p><p>Лифт был очень аккуратно упакован, поставили, очень тихий и плавный, как в отеле, ждем заселения!!Большое спасибо!</p>',
      author: 'Дарья'
    }
  ]
})