include ../mixins/elevator-type

+elevator-type({
  title: 'Виды лифтов',
  description: 'Наша компания занимается изготовлением лифтов на заказ для Home сегмента и коммерческих помещений малой этажности. В их числе модели следующих категорий:',
  list: [
    {
      name: 'Лифт в частный дом',
      image: 'images/catalog/cat-lift-type-1.jpg'
    },
    {
      name: 'Лифт в квартиру',
      image: 'images/catalog/cat-lift-type-5.jpg'
    },
    {
      name: 'Лифт в коттедж',
      image: 'images/catalog/cat-lift-type-2.jpg',
      link: 'catalog-section-lift-v-kottedzh.html'
    },
    {
      name: 'Лифт в таунхаус',
      image: 'images/catalog/cat-lift-type-1.jpg',
      link: 'catalog-section-lift-v-taunkhaus.html'
    },
    {
      name: 'Лифт в деревянный дом',
      image: 'images/catalog/cat-lift-type-1.jpg',
      link: 'catalog-section-lift-v-derevyannyy-dom.html'
    },
    {
      name: 'Наружный лифт',
      image: 'images/catalog/cat-lift-type-1.jpg',
      link: 'catalog-section-naruzhnyy-lift.html'
    },
    {
      name: 'Панорамный лифт',
      image: 'images/catalog/cat-lift-type-1.jpg',
      link: 'catalog-section-panoramnyy-lift.html'
    },
    {
      name: 'Проходной лифт',
      image: 'images/catalog/cat-lift-type-2.jpg',
      link: 'catalog-section-prokhodnoy-lift.html'
    },
    {
      name: 'Лифт в офис и ТЦ',
      image: 'images/catalog/cat-lift-type-2.jpg',
      link: 'catalog-section-lift-v-office.html'
    },
    {
      name: 'Лифт для гостиницы',
      image: 'images/catalog/cat-lift-type-2.jpg',
      link: 'catalog-section-lift-v-gostinicu.html'
    }
  ]
})