include ../mixins/popover

.hero.hero--video.hero--has-animation
  h1.hero__title.visually-hidden Лифты премиум класса с высоким уровнем безопасности
  .hero__video
    video(autoplay loop muted)
      source(src="media/hero_desktop.mp4" type="video/mp4" media="(min-width:1280px)")
      source(src="media/hero_mobile.mp4")
  .hero__container
    .scroll-help.hero__help
      .scroll-help__handle
      .scroll-help__text Скрольте вниз
    .hero__content.container
      .hero__top
        .hero__title.hero__title--mobile-only
          div
            span Лифты
          div
            span премиум-
          div
            span класса
        .hero__title.hero__title--desktop-only
          div
            span Лифты
            span премиум-класса
      .hero__subtitle.hero__subtitle--mobile-only
        div
          span с высоким
          span уровнем
        div
          span безопасности

      .hero__subtitle.hero__subtitle--desktop-only
        div
          span с высоким
          span уровнем
          span безопасности
      .hero__controls.hero__controls--desktop
        a(href="tel:+7340983245").btn.btn--secondary.btn--lg Позвонить нам
        a(href="tel:+7340983245").btn.btn--secondary.btn--lg Написать в Телеграм
    .hero__button
      .hero__button-wrapper
        button(type="button" class="btn btn--primary" data-toggle="modal" data-target="#contactModal") Получить консультацию