include ../mixins/slider

section(id="showroomSlider").section.section--showroom-slider.section--animate
  .section__intersect.section__intersect--top
  .section__intersect.section__intersect--bottom
  .textmedia.textmedia--centered(id="showRoom")
    .textmedia__column.textmedia__column--image-wrapper
      +slider({
        slides: [
          {
            image: 'images/models/e_plus/e_plus_textmedia_slide_01_w1024.jpg',
            imageWebp: 'images/models/e_plus/e_plus_textmedia_slide_01_w1024.webp'
          },
          {
            image: 'images/models/e_plus/e_plus_textmedia_slide_02_w1024.jpg',
            imageWebp: 'images/models/e_plus/e_plus_textmedia_slide_02_w1024.webp'
          },
          {
            image: 'images/models/e_plus/e_plus_textmedia_slide_03_w1024.jpg',
            imageWebp: 'images/models/e_plus/e_plus_textmedia_slide_03_w1024.webp'
          }
        ]
      })
    .textmedia__column.textmedia__column--text-wrapper
      .showroom-info
        .showroom-info__title.showroom-info__title--uppercase.showroom-info__title--orange
          | У нас в шоуруме —
          br
          span Вы можете протестировать лифты
        .showroom-info__text
          p Это единственная в России площадка такого масштаба. Почувствуйте безупречную плавность <span>и тишину</span> работы премиальных лифтов <span>в нашем</span> пространстве.
        .showroom-info__button
          button(type="button" class="btn btn--primary" data-toggle="modal" data-target="#contactModal") Записаться на визит
