section.career(id="career")
  .career__container
    .career__col
      .career__title Стройте карьеру с нами
      .career__description
        p Команда «Е1-Групп» — сплоченный коллектив с международной экспертизой в области продукта, продаж, маркетинга, процессов, технической и сервисной поддержки продукта. Приглашаем стать его частью!
        p Чтобы ознакомиться  с текущими вакансиями, пожалуйста перейдите в профиль компании на HeadHunter. Там вы найдете подробную информацию о доступных возможностях! Будем рады видеть Вас в нашем офисе!
      .career__controls
        a(href="https://hh.ru" class="btn btn--primary") Смотреть вакансии на HH
    .career__col
      .career__pic: img(src="images/career/career_block_pic.jpg")
