section.partnership(id="partnership")
  .partnership__container
    .partnership__content
      .partnership__decor: img(src="images/partner_decor.svg")
      .partnership__info
        .partnership__title Стратегическое партнерство с профессионалами в IT (SOFTLINE), логистике (NOYTECH company) и производстве Электроинструмента (ENGELS)
        .partnership__description
          p С целью предоставить качественные продукты и сервисные решения для профессионалов в России.
      .partnership__controls
        button(type="button" class="btn btn--secondary header__button" data-toggle="modal" data-target="#contactModal") Предложить сотрудничество
      .partnership__slider.swiper#partnershipSlider
        .swiper-wrapper
          .swiper-slide
            .partnership__item
              img(src="images/partners/partner_dfc.png").partnership__image
          .swiper-slide
            .partnership__item
              img(src="images/partners/partner_softline.png").partnership__image
          .swiper-slide
            .partnership__item
              img(src="images/partners/partner_noytech.png").partnership__image
          .swiper-slide
            .partnership__item
              img(src="images/partners/partner_engels.png").partnership__image
