include ../mixins/advantage

+advantage({
  title: 'E1-Group',
  description: 'Динамично развивающаяся группа компаний, специализирующаяся на производстве и продажах решений для  строительства, таких как электроинструмент, строительная  техника, садовая техника и IT решений для управления парком средств малой строительной механизации.',
  list: [
    {
      name: 'IT Решения',
      text: 'Решения для управления парком средств малой строительной механизации'
    },
    {
      name: 'Дистрибуция',
      text: 'Работа с крупнейшими игроками рынка  электроинструментов и крупными конечными  потребителями'
    },
    {
      name: 'Операционная  модель',
      text: 'Эффективная логистика в партнерстве с NOYTECH Сильная команда с многолетним опытом на рынке электроинструмента производственная экспертиза на заводе в г. Энгельс'
    },
    {
      name: 'Пользователи',
      text: 'Продуктовый  портфель, покрывающий  потребности широкого круга пользователей  от DIY энтузиастов до B2G'
    }
  ]
})
