include ../mixins/advantage

section(id="advantage").section.section--text.section.section--advantage
  .container.section__container
    +advantage({
      title: "Преимущества FRANZLIFT",
      list: [
        {
          name: 'Экспертиза в вопросах безопасности',
          link: {
            toggle: 'modal',
            target: '#expertiseModal'
          }
        },
        {
          name: '>11 лет проектирования, монтажа и обслуживания'
        },
        {
          name: 'Независимая консультация',
          link: {
            toggle: 'modal',
            target: '#offerModal'
          }
        },
        {
          name: 'Оперативная поддержка 24/7'
        },
        {
          name: 'Партнерская программа',
          link: {
            toggle: 'modal',
            target: '#catalogModal'
          }
        }
      ]
    })