section.news.news--index(id="news")
  .news__container
    .news__heading
      .news__title Медиа компании
      .news__controls < >
    .news__list
      .news-card.news__item
        .news-card__media
          .news-card__image
            a(href="#newsDetail").news-card__clickable
            picture
              img(src="images/news/news-item-1.jpg")
        .news-card__info
          .news-card__date 20.02.26
          .news-card__title «ЭНГЕЛЬС» вместо Bosch: в Саратовской области возрождается производство отечественного профессионального электроинструмента
      .news-card.news__item
        .news-card__media
          .news-card__image
            a(href="#newsDetail").news-card__clickable
            picture
              img(src="images/news/news-item-2.jpg")
        .news-card__info
          .news-card__date 20.02.26
          .news-card__title «ЭНГЕЛЬС» вместо Bosch: в Саратовской области возрождается производство отечественного профессионального электроинструмента
      .news-card.news__item
        .news-card__media
          .news-card__image
            picture
              img(src="images/news/news-item-3.jpg")
        .news-card__info
          .news-card__date 20.02.26
          .news-card__title «ЭНГЕЛЬС» вместо Bosch: в Саратовской области возрождается производство отечественного профессионального электроинструмента
      .news-card.news__item
        .news-card__media
          .news-card__image
            picture
              img(src="images/news/news-item-4.jpg")
        .news-card__info
          .news-card__date 20.02.26
          .news-card__title «ЭНГЕЛЬС» вместо Bosch: в Саратовской области возрождается производство отечественного профессионального электроинструмента
