section(id="showroomVideo").section.section--showroom-video.section--animate
  .section__intersect.section__intersect--top
  .section__intersect.section__intersect--bottom
  .showroom-video
    h2.showroom-video__title.visually-hidden Смотрите нас на VK Play и Rutube
    .showroom-video__container.container
      .showroom-video__title.animation.animation--text.animation--del100
        span Смотрите нас на VK Play и <a href="https://rutube.ru/channel/33279052/" target="_blank">Rutube</a>
      .showroom-video__list
        .showroom-video__item.showroom-video__item--16by9
          video.video(width="1920" height="1080" controls data-poster="/images/franzlift-expertise-poster.jpg")
            source(src="/media/franzlift-expertise.mp4" type="video/mp4")
        .showroom-video__item.showroom-video__item--16by9
          video.video(width="1920" height="1080" controls data-poster="/images/franzlift-expertise-poster.jpg")
            source(src="/media/franzlift-expertise.mp4" type="video/mp4")