.preloader.preloader--eight.preloader--show
  .preloader__container
    .preloader__logo
      svg(class="svg-icon" viewBox="0 0 187 40" width="187" height="40"): use(xlink:href="#svg-logo")
    .preloader__icon
      svg#svgLoaderEight(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='30px' viewBox='0 0 24 30' style='enable-background:new 0 0 50 50;' xml:space='preserve')
        rect(x='0' y='10' width='4' height='10' fill='#fff' opacity='0.2')
        rect(x='8' y='10' width='4' height='10' fill='#fff' opacity='0.2')
        rect(x='16' y='10' width='4' height='10' fill='#fff' opacity='0.2')