:root {
  --mi-color-black: #222527;
  --mi-color-primary: #173957;
  --mi-color-primary-light: #2D5D87;
  --mi-color-primary-bg: #DEEAF5;
  --mi-color-primary-bg-light: #DEEAF5;
  --mi-color-default-bg: #FFFFF;
  --mi-color-gray: #798794;
  --mi-color-gray-light: #C8D0D8;
  --mi-color-white: #fff;
  --mi-color-green: green;
  --mi-color-orange: #E69864;
  --mi-color-yellow: #ffd61e;
  --mi-color-brown: #232020;
  --mi-color-dark: rgb(0 0 0 / 40%);
  --mi-color-red: #FF2C2C;
  --mi-color-red-error: #F80202;
  --mi-color-carmine: #960018;
  --mi-color-cardinal: #c41e3a;
  --mi-color-silver: #c0c0c0;
  --mi-shadow-fill: #00000040;
  --mi-header-shadow-fill: #4677BD19;
}