@font-face {
  font-family: Tektur;
  font-weight: 400 600;
  src: url('../fonts/Tektur-VariableFont_wdth_wght.ttf') format('truetype');
}

@font-face {
  font-family: Inter;
  font-weight: 300 400;
  src: url('../fonts/Inter-VariableFont_opsz_wght.ttf') format('truetype');
}

@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 300 400;
  src: url('../fonts/Inter-Italic-VariableFont_opsz_wght.ttf') format('truetype');
}