.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 {
  font-family: var(--mi-heading-font-family);
  font-feature-settings: 'lnum';
}

.h1, h1 {
  font-size: calc(1.2rem + 1.6vw);

  @media(width >= 1024px) {
    font-size: 3.25rem;
  }
}

.h2, h2 {
  font-size: calc(1.325rem + .9vw);

  @media(width >= 1024px) {
    font-size: 2.5rem;
  }
}

.h3, h3 {
  font-size: calc(1.2rem + .6vw);

  @media(width >= 1024px) {
    font-size: 1.75rem;
  }
}

.h4, h4 {
  font-size: calc(1.275rem + .3vw);

  @media(width >= 1024px) {
    font-size: 1.5rem;
  }
}